body {
  margin: 0;
  padding: 0;
  background-color: hsl(216, 50%, 16%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  font-family: "Outfit";
}
.nft-card {
  width: 500px;
  height: 850px;
  border-radius: 10px;
  background-color: hsl(216, 50%, 16%);
  display: flex;
  box-shadow: 20px 20px 20px 20px rgba(13, 25, 43, 1);
  flex-direction: column;
}
.nft-image-cont {
  width: 85%;
  height: 50%;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}
.nft-content {
  width: 85%;
  height: 25%;
  margin-left: 35px;
  margin-top: 10px;
}
.image-equilibrium {
  width: 100%;
  height: 400px;
  border-radius: 10px;
}

.nft-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  margin: 40px 0 0 0;
}
.nft-title {
  color: white;
  font-size: 32px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 0;
}
.nft-description {
  color: rgb(201, 201, 201);
  font-size: 24px;
  margin: 20px 0 0 0;
}
.nft-price {
  width: 50%;
  display: flex;
  gap: 10px;
}
.nft-price p {
  font-size: 22px;
  font-family: "Outfit";
  margin: 15px 0 0 0;
  color: hsl(178, 100%, 50%);
  font-weight: 600;
}
.icon-ethereum {
  width: 20px;
  height: 35px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

.nft-time {
  width: 38%;
  display: flex;
  gap: 10px;
}
.icon-clock {
  width: 40px;
  height: 40px;
  margin-top: 8px;
}
.nft-time p {
  font-size: 22px;
  font-family: "Outfit";
  color: hsl(215, 51%, 70%);
  margin: 12px 0 0 0;
}

hr {
  border: 0.1px solid hsl(0, 1%, 76%);
  width: 85%;
  margin: 40px 0 0 30px;
}
.last-div {
  width: 90%;
  height: 70px;
  margin: 0 auto;
  display: flex;
  margin-top: 35px;
  align-items: center;
  gap: 20px;
}

.profile-cont {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid white;
}
.profile-pic {
  width: 100%;
  height: 100%;
}
.creator-text {
  font-size: 22px;
  color: hsl(215, 51%, 70%);
}
.creator-name {
  font-size: 22px;
  color: white;
}
