body {
  margin: 0;
  padding: 0;
  background-color: hsl(216, 50%, 16%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  font-family: "Outfit";
}
.nft-card {
  width: 500px;
  height: 850px;
  border-radius: 10px;
  background-color: hsl(215, 32%, 27%);
  display: flex;
  box-shadow: 25px 25px 25px 25px rgba(13, 25, 43, 1);
  flex-direction: column;
}
.nft-image-cont {
  width: 85%;
  height: 50%;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}
.nft-content {
  width: 85%;
  height: 30%;
  margin-left: 35px;
  border: 1px solid red;
}
.image-equilibrium {
  width: 100%;
  height: 400px;
  border-radius: 10px;
}

.nft-info {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 50px;
}
.nft-title {
  color: white;
  font-size: 32px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 0;
}
.nft-description {
  color: rgb(201, 201, 201);
  font-size: 24px;
  margin: 20px 0 0 0;
}
.nft-price {
  width: 50%;
  display: flex;
  gap: 10px;
}
.icon-ethereum {
  width: 20px;
  height: 30px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}
.mini-time p {
  font-size: 20px;
  color: hsl(178, 100%, 50%);
  align-items: center;
  margin-top: 10px;
}
.nft-time {
  width: 50%;
  display: flex;
  gap: 10px;
}
.icon-clock {
  width: 30px;
  height: 30px;
  margin-top: 8px;
}
.mini-time-2 p {
  font-size: 20px;
  color: hsl(215, 51%, 70%);
  align-items: center;
  margin-top: 10px;
}
hr {
  border: 0.1px solid hsl(215, 51%, 70%);
  width: 90%;
  margin: 0 auto;
}
.last-div {
  width: 90%;
  height: 70px;
  margin: 0 auto;
  display: flex;
  margin-top: 13px;
  align-items: center;
  gap: 20px;
}

.profile-cont {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.profile-pic {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: black solid 1px;
}
.creator-text {
  font-size: 20px;
  color: hsl(215, 51%, 70%);
}
.creator-name {
  font-size: 20px;
  color: white;
}
