body {
  margin: 0;
  padding: 0;
  background-color: hsl(216, 50%, 16%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  font-family: "Outfit";
}
.container {
  width: 500px;
  height: 800px;
  border-radius: 10px;
  background-color: hsl(215, 32%, 27%);
  display: flex;
  box-shadow: 10px 10x 10px rgba(13, 25, 45, 1);
  flex-direction: column;
}
.image-container {
  width: 90%;
  height: 50%;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}
.explanations-container {
  width: 90%;
  height: 30%;
  margin: 0 auto;
  margin-top: 20px;
}
.image-equilibrium {
  width: 100%;
  height: 400px;
  border-radius: 10px;
}
.time-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 50px;
}
.first-p {
  color: white;
  font-size: 26px;
  font-weight: 600;
}
.second-p {
  color: rgb(201, 201, 201);
  font-size: 24px;
}
.mini-time {
  width: 50%;
  display: flex;
  gap: 10px;
}
.icon-ethereum {
  width: 20px;
  height: 30px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}
.mini-time p {
  font-size: 20px;
  color: hsl(178, 100%, 50%);
  align-items: center;
  margin-top: 10px;
}
.mini-time-2 {
  width: 50%;
  display: flex;
  gap: 10px;
}
.icon-clock {
  width: 30px;
  height: 30px;
  margin-top: 8px;
}
.mini-time-2 p {
  font-size: 20px;
  color: hsl(215, 51%, 70%);
  align-items: center;
  margin-top: 10px;
}
hr {
  border: 0.5px solid hsl(0, 0%, 96%);
  width: 90%;
  margin: 0 auto;
}
.last-div {
  width: 90%;
  height: 70px;
  margin: 0 auto;
  display: flex;
  margin-top: 20px;
  align-items: center;
  gap: 20px;
  border: black solid 1px;
}

.profile-cont {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: black solid 1px;
}
